<div class="form-wrapper">
  <div class="form-container">
    <div class="form-card">
      <% content_for :title, "Edit Assignment" %>
      
      <h1 class="page-title mb-4">Edit Assignment</h1>
      
      <%= render "form", assignment: @assignment %>
      
      <div class="mt-3">
        <%= link_to "â† Back to classroom", classroom_path(@assignment.classroom), class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
