<% # Footer and styling was taken and modified from bootstrap %>
<footer class="footer-custom text-center">
  <div class="container">
    <p class="mb-0">&copy; <%= Time.current.year %> Assignment Tracker. All rights reserved.</p>
  </div>
</footer>